root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

[*.py]
max_line_length = 79

[*.{toml,yaml,yml}]
indent_size = 2

[Makefile]
indent_style = tab

[{package,package-lock}.json]
indent_size = 2
