# troposphere
# -------------------------------------

# ---- Need libraries installed by setup.py
cfn_flip>=1.0.2
awacs>=2.0.0

# ---- Use jsonpatch to fixup spec files
jsonpatch

# ---- Documentation Libraries
sphinx==6.2.1
sphinx_rtd_theme==1.2.2

# ---- S/W Engineering Libraries

# ---- ---- Styling and Linting
flake8>=4.0.1
pycodestyle>=2.4
pydocstyle>=3.0
pyflakes>=2.1
pylint>=1.9
pre-commit>=2.16

# ---- ---- Testing
pytest>=4.1
pytest-cov>=2.6

black==22.3.0
build==0.5.1
click==8.0.4
isort==5.10.1
tox==3.23.1
