{
 "AWSTemplateFormatVersion": "2010-09-09",
 "Description": "AWS CloudFormation Template to launch an Aurora Serverless Relational Database (RDS) Cluster.",
 "Outputs": {
  "EndpointAddressandPort": {
   "Description": "Endpoint Address and Port for the Aurora Serverless Cluster",
   "Value": {
    "Fn::Join": [
     "",
     [
      {
       "Fn::GetAtt": [
        "AuroraSLCluster",
        "Endpoint.Address"
       ]
      },
      ":",
      {
       "Fn::GetAtt": [
        "AuroraSLCluster",
        "Endpoint.Port"
       ]
      }
     ]
    ]
   }
  }
 },
 "Parameters": {
  "ClusterMaxCapacity": {
   "AllowedValues": [
    "1",
    "2",
    "4",
    "8",
    "16",
    "32",
    "64",
    "128",
    "256"
   ],
   "Default": "2",
   "Description": "Maximum Capacity Units for an Aurora ServerLess Cluster             (Default: 2)",
   "Type": "Number"
  },
  "ClusterMinCapacity": {
   "AllowedValues": [
    "1",
    "2",
    "4",
    "8",
    "16",
    "32",
    "64",
    "128",
    "256"
   ],
   "Default": "1",
   "Description": "Minimum Capacity Units for an Aurora ServerLess Cluster             (Default: 1)",
   "Type": "Number"
  },
  "DBUser": {
   "AllowedPattern": "[a-zA-Z][a-zA-Z0-9]*",
   "ConstraintDescription": "must begin with a letter and contain only alphanumeric characters.",
   "Default": "admin",
   "Description": "Database admin account username (Default: admin)",
   "MaxLength": "16",
   "MinLength": "1",
   "NoEcho": true,
   "Type": "String"
  },
  "DatabaseClusterParameterGroupName": {
   "Default": "default.aurora5.6",
   "Type": "String"
  },
  "Subnets": {
   "Description": "The list of SubnetIds, for at least two Availability Zones in the region in your Virtual Private Cloud (VPC)",
   "Type": "CommaDelimitedList"
  },
  "VpcId": {
   "Description": "VpcId of your existing Virtual Private Cloud (VPC)",
   "Type": "String"
  }
 },
 "Resources": {
  "AuroraSLCluster": {
   "Properties": {
    "DBClusterIdentifier": "aurora-sl-cluster",
    "DBClusterParameterGroupName": {
     "Ref": "DatabaseClusterParameterGroupName"
    },
    "DBSubnetGroupName": {
     "Ref": "RDSSubnetGroup"
    },
    "Engine": "aurora",
    "EngineMode": "serverless",
    "MasterUserPassword": {
     "Fn::Join": [
      "",
      [
       "{{resolve:secretsmanager:",
       {
        "Ref": "DbSecret"
       },
       ":SecretString:password}}"
      ]
     ]
    },
    "MasterUsername": {
     "Ref": "DBUser"
    },
    "ScalingConfiguration": {
     "AutoPause": false,
     "MaxCapacity": {
      "Ref": "ClusterMaxCapacity"
     },
     "MinCapacity": {
      "Ref": "ClusterMinCapacity"
     }
    },
    "StorageEncrypted": true,
    "VpcSecurityGroupIds": [
     {
      "Ref": "RDSSecurityGroup"
     }
    ]
   },
   "Type": "AWS::RDS::DBCluster"
  },
  "DbSecret": {
   "Properties": {
    "Description": "RDS instance master password",
    "GenerateSecretString": {
     "ExcludeCharacters": "/@\" ",
     "GenerateStringKey": "password",
     "PasswordLength": 30,
     "SecretStringTemplate": "{\"username\":\"admin\"}"
    },
    "Name": "DbSecret"
   },
   "Type": "AWS::SecretsManager::Secret"
  },
  "RDSSecurityGroup": {
   "Properties": {
    "GroupDescription": "Security Group for the Aurora Serverless Cluster",
    "VpcId": {
     "Ref": "VpcId"
    }
   },
   "Type": "AWS::EC2::SecurityGroup"
  },
  "RDSSubnetGroup": {
   "Properties": {
    "DBSubnetGroupDescription": "Subnets available for the RDS DB Instance",
    "SubnetIds": {
     "Ref": "Subnets"
    }
   },
   "Type": "AWS::RDS::DBSubnetGroup"
  },
  "SecretRDSInstanceAttachment": {
   "Properties": {
    "SecretId": {
     "Ref": "DbSecret"
    },
    "TargetId": {
     "Ref": "AuroraSLCluster"
    },
    "TargetType": "AWS::RDS::DBCluster"
   },
   "Type": "AWS::SecretsManager::SecretTargetAttachment"
  }
 }
}
