{
 "Resources": {
  "mycert": {
   "Properties": {
    "DomainName": "example.com",
    "DomainValidationOptions": [
     {
      "DomainName": "example.com",
      "ValidationDomain": "example.com"
     }
    ],
    "Tags": [
     {
      "Key": "tag-key",
      "Value": "tag-value"
     }
    ]
   },
   "Type": "AWS::CertificateManager::Certificate"
  }
 }
}
