{
 "AWSTemplateFormatVersion": "2010-09-09",
 "Resources": {
  "DemoDeploymentGroup": {
   "Properties": {
    "ApplicationName": "DemoApplication",
    "AutoRollbackConfiguration": {
     "Enabled": true,
     "Events": [
      "DEPLOYMENT_FAILURE"
     ]
    },
    "DeploymentStyle": {
     "DeploymentOption": "WITH_TRAFFIC_CONTROL"
    },
    "LoadBalancerInfo": {
     "ElbInfoList": [
      {
       "Name": "DemoLoadBalancer"
      }
     ]
    },
    "ServiceRoleArn": "arn:aws:iam::0123456789:role/codedeploy-role"
   },
   "Type": "AWS::CodeDeploy::DeploymentGroup"
  },
  "DemoDeploymentGroupEC2Instances": {
   "Properties": {
    "ApplicationName": "DemoApplicationEc2Instances",
    "AutoRollbackConfiguration": {
     "Enabled": true,
     "Events": [
      "DEPLOYMENT_FAILURE"
     ]
    },
    "DeploymentGroupName": "DemoApplicationEc2Instances",
    "DeploymentStyle": {
     "DeploymentOption": "WITHOUT_TRAFFIC_CONTROL"
    },
    "Ec2TagSet": {
     "Ec2TagSetList": [
      {
       "Ec2TagGroup": [
        {
         "Key": "CodeDeploy",
         "Type": "KEY_AND_VALUE",
         "Value": "activated"
        },
        {
         "Key": "Environment",
         "Type": "KEY_AND_VALUE",
         "Value": "dev"
        }
       ]
      }
     ]
    },
    "ServiceRoleArn": "arn:aws:iam::0123456789:role/codedeploy-role"
   },
   "Type": "AWS::CodeDeploy::DeploymentGroup"
  },
  "DemoDeploymentGroupOnPremises": {
   "Properties": {
    "ApplicationName": "DemoApplicationOnPremises",
    "AutoRollbackConfiguration": {
     "Enabled": true,
     "Events": [
      "DEPLOYMENT_FAILURE"
     ]
    },
    "DeploymentGroupName": "DemoApplicationOnPremises",
    "DeploymentStyle": {
     "DeploymentOption": "WITHOUT_TRAFFIC_CONTROL"
    },
    "OnPremisesInstanceTagFilters": [
     {
      "Key": "Service",
      "Type": "KEY_AND_VALUE",
      "Value": "DemoApplicationOnPremises"
     }
    ],
    "ServiceRoleArn": "arn:aws:iam::0123456789:role/codedeploy-role"
   },
   "Type": "AWS::CodeDeploy::DeploymentGroup"
  }
 }
}
