{
 "Resources": {
  "MyRepository": {
   "Properties": {
    "RepositoryName": "test-repository",
    "RepositoryPolicyText": {
     "Statement": [
      {
       "Action": [
        "ecr:GetDownloadUrlForLayer",
        "ecr:BatchGetImage",
        "ecr:BatchCheckLayerAvailability",
        "ecr:PutImage",
        "ecr:InitiateLayerUpload",
        "ecr:UploadLayerPart",
        "ecr:CompleteLayerUpload"
       ],
       "Effect": "Allow",
       "Principal": {
        "AWS": [
         "arn:aws:iam::123456789012:user/Bob",
         "arn:aws:iam::123456789012:user/Alice"
        ]
       },
       "Sid": "AllowPushPull"
      }
     ],
     "Version": "2008-10-17"
    }
   },
   "Type": "AWS::ECR::Repository"
  }
 }
}
