{
 "Description": "RedshiftServerless: Template and module example",
 "Outputs": {
  "Namespace": {
   "Value": {
    "Ref": "Namespace"
   }
  },
  "Workgroup": {
   "Value": {
    "Ref": "Workgroup"
   }
  }
 },
 "Resources": {
  "Namespace": {
   "Properties": {
    "AdminUserPassword": "{{{{resolve:ssm:/redshift_admin_password}}}}",
    "AdminUsername": "{{{{resolve:ssm:/redshift_admin_username}}}}",
    "DbName": "dev",
    "DefaultIamRoleArn": "arn:aws:iam::123456789123:role/service-role/AmazonRedshift-CommandsAccessRole-123451234512345",
    "IamRoles": [],
    "NamespaceName": "serverless"
   },
   "Type": "AWS::RedshiftServerless::Namespace"
  },
  "Workgroup": {
   "Properties": {
    "EnhancedVpcRouting": true,
    "NamespaceName": "serverless",
    "PubliclyAccessible": false,
    "SecurityGroupIds": [
     "sg-12345123451234567"
    ],
    "SubnetIds": [
     "subnet-12345678912345678",
     "subnet-98765432198765432"
    ],
    "WorkgroupName": "RedshiftServerlessWorkGroup"
   },
   "Type": "AWS::RedshiftServerless::Workgroup"
  }
 }
}
