{
 "Description": "AWS CloudFormation Sample Template S3_Bucket: Sample template showing how to create a publicly accessible S3 bucket. **WARNING** This template creates an Amazon S3 Bucket. You will be billed for the AWS resources used if you create a stack from this template.",
 "Outputs": {
  "BucketName": {
   "Description": "Name of S3 bucket to hold website content",
   "Value": {
    "Ref": "S3Bucket"
   }
  }
 },
 "Resources": {
  "S3Bucket": {
   "Properties": {
    "AccessControl": "PublicRead"
   },
   "Type": "AWS::S3::Bucket"
  }
 }
}
