{
 "Description": "AWS CloudFormation Sample Template S3_Website_Bucket_With_Retain_On_Delete: Sample template showing how to create a publicly accessible S3 bucket configured for website access with a deletion policy of retail on delete. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.",
 "Outputs": {
  "S3BucketSecureURL": {
   "Description": "Name of S3 bucket to hold website content",
   "Value": {
    "Fn::Join": [
     "",
     [
      "http://",
      {
       "Fn::GetAtt": [
        "S3Bucket",
        "DomainName"
       ]
      }
     ]
    ]
   }
  },
  "WebsiteURL": {
   "Description": "URL for website hosted on S3",
   "Value": {
    "Fn::GetAtt": [
     "S3Bucket",
     "WebsiteURL"
    ]
   }
  }
 },
 "Resources": {
  "S3Bucket": {
   "Properties": {
    "AccessControl": "PublicRead",
    "WebsiteConfiguration": {
     "ErrorDocument": "error.html",
     "IndexDocument": "index.html"
    }
   },
   "Type": "AWS::S3::Bucket"
  }
 }
}
