{
 "AWSTemplateFormatVersion": "2010-09-09",
 "Resources": {
  "DbSecret": {
   "Properties": {
    "Description": "This is the RDS instance master password",
    "GenerateSecretString": {
     "GenerateStringKey": "password",
     "PasswordLength": 30,
     "SecretStringTemplate": "{\"username\":\"admin\"}"
    },
    "Name": "DbSecret"
   },
   "Type": "AWS::SecretsManager::Secret"
  },
  "Instance": {
   "Properties": {
    "AllocatedStorage": "20",
    "DBInstanceClass": "db.t2.micro",
    "DBInstanceIdentifier": "TestInstance",
    "Engine": "mysql",
    "MasterUserPassword": {
     "Fn::Join": [
      "",
      [
       "{{resolve:secretsmanager:",
       {
        "Ref": "DbSecret"
       },
       ":SecretString:password}}"
      ]
     ]
    },
    "MasterUsername": {
     "Fn::Join": [
      "",
      [
       "{{resolve:secretsmanager:",
       {
        "Ref": "DbSecret"
       },
       ":SecretString:username}}"
      ]
     ]
    }
   },
   "Type": "AWS::RDS::DBInstance"
  },
  "SecretRDSInstanceAttachment": {
   "Properties": {
    "SecretId": {
     "Ref": "DbSecret"
    },
    "TargetId": {
     "Ref": "Instance"
    },
    "TargetType": "AWS::RDS::DBInstance"
   },
   "Type": "AWS::SecretsManager::SecretTargetAttachment"
  }
 }
}
