{
 "AWSTemplateFormatVersion": "2010-09-09",
 "Description": "AWS CloudFormation Sample Template VPC_Single_Instance_In_Subnet: Sample template showing how to create a VPC and add an EC2 instance with an Elastic IP address and a security group. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.",
 "Mappings": {
  "AWSInstanceType2Arch": {
   "c1.medium": {
    "Arch": "PV64"
   },
   "c1.xlarge": {
    "Arch": "PV64"
   },
   "c3.2xlarge": {
    "Arch": "HVM64"
   },
   "c3.4xlarge": {
    "Arch": "HVM64"
   },
   "c3.8xlarge": {
    "Arch": "HVM64"
   },
   "c3.large": {
    "Arch": "HVM64"
   },
   "c3.xlarge": {
    "Arch": "HVM64"
   },
   "cc2.8xlarge": {
    "Arch": "HVM64"
   },
   "cr1.8xlarge": {
    "Arch": "HVM64"
   },
   "g2.2xlarge": {
    "Arch": "HVMG2"
   },
   "hi1.4xlarge": {
    "Arch": "HVM64"
   },
   "hs1.8xlarge": {
    "Arch": "HVM64"
   },
   "i2.2xlarge": {
    "Arch": "HVM64"
   },
   "i2.4xlarge": {
    "Arch": "HVM64"
   },
   "i2.8xlarge": {
    "Arch": "HVM64"
   },
   "i2.xlarge": {
    "Arch": "HVM64"
   },
   "m1.large": {
    "Arch": "PV64"
   },
   "m1.medium": {
    "Arch": "PV64"
   },
   "m1.small": {
    "Arch": "PV64"
   },
   "m1.xlarge": {
    "Arch": "PV64"
   },
   "m2.2xlarge": {
    "Arch": "PV64"
   },
   "m2.4xlarge": {
    "Arch": "PV64"
   },
   "m2.xlarge": {
    "Arch": "PV64"
   },
   "m3.2xlarge": {
    "Arch": "HVM64"
   },
   "m3.large": {
    "Arch": "HVM64"
   },
   "m3.medium": {
    "Arch": "HVM64"
   },
   "m3.xlarge": {
    "Arch": "HVM64"
   },
   "r3.2xlarge": {
    "Arch": "HVM64"
   },
   "r3.4xlarge": {
    "Arch": "HVM64"
   },
   "r3.8xlarge": {
    "Arch": "HVM64"
   },
   "r3.large": {
    "Arch": "HVM64"
   },
   "r3.xlarge": {
    "Arch": "HVM64"
   },
   "t1.micro": {
    "Arch": "PV64"
   },
   "t2.medium": {
    "Arch": "HVM64"
   },
   "t2.micro": {
    "Arch": "HVM64"
   },
   "t2.small": {
    "Arch": "HVM64"
   }
  },
  "AWSRegionArch2AMI": {
   "ap-northeast-1": {
    "HVM64": "ami-35072834",
    "HVMG2": "ami-5dd1ff5c",
    "PV64": "ami-21072820"
   },
   "ap-southeast-1": {
    "HVM64": "ami-d6e1c584",
    "HVMG2": "ami-fabe9aa8",
    "PV64": "ami-20e1c572"
   },
   "ap-southeast-2": {
    "HVM64": "ami-fd4724c7",
    "HVMG2": "ami-e98ae9d3",
    "PV64": "ami-8b4724b1"
   },
   "cn-north-1": {
    "HVM64": "ami-ac57c595",
    "HVMG2": "NOT_SUPPORTED",
    "PV64": "ami-a857c591"
   },
   "eu-central-1": {
    "HVM64": "ami-b43503a9",
    "HVMG2": "ami-b03503ad",
    "PV64": "ami-a03503bd"
   },
   "eu-west-1": {
    "HVM64": "ami-748e2903",
    "HVMG2": "ami-00913777",
    "PV64": "ami-aa8f28dd"
   },
   "sa-east-1": {
    "HVM64": "ami-956cc688",
    "HVMG2": "NOT_SUPPORTED",
    "PV64": "ami-9d6cc680"
   },
   "us-east-1": {
    "HVM64": "ami-08842d60",
    "HVMG2": "ami-3a329952",
    "PV64": "ami-50842d38"
   },
   "us-west-1": {
    "HVM64": "ami-cfa8a18a",
    "HVMG2": "ami-331b1376",
    "PV64": "ami-c7a8a182"
   },
   "us-west-2": {
    "HVM64": "ami-8786c6b7",
    "HVMG2": "ami-47296a77",
    "PV64": "ami-af86c69f"
   }
  }
 },
 "Outputs": {
  "URL": {
   "Description": "Newly created application URL",
   "Value": {
    "Fn::Join": [
     "",
     [
      "http://",
      {
       "Fn::GetAtt": [
        "WebServerInstance",
        "PublicIp"
       ]
      }
     ]
    ]
   }
  }
 },
 "Parameters": {
  "InstanceType": {
   "AllowedValues": [
    "t1.micro",
    "t2.micro",
    "t2.small",
    "t2.medium",
    "m1.small",
    "m1.medium",
    "m1.large",
    "m1.xlarge",
    "m2.xlarge",
    "m2.2xlarge",
    "m2.4xlarge",
    "m3.medium",
    "m3.large",
    "m3.xlarge",
    "m3.2xlarge",
    "c1.medium",
    "c1.xlarge",
    "c3.large",
    "c3.xlarge",
    "c3.2xlarge",
    "c3.4xlarge",
    "c3.8xlarge",
    "g2.2xlarge",
    "r3.large",
    "r3.xlarge",
    "r3.2xlarge",
    "r3.4xlarge",
    "r3.8xlarge",
    "i2.xlarge",
    "i2.2xlarge",
    "i2.4xlarge",
    "i2.8xlarge",
    "hi1.4xlarge",
    "hs1.8xlarge",
    "cr1.8xlarge",
    "cc2.8xlarge",
    "cg1.4xlarge"
   ],
   "ConstraintDescription": "must be a valid EC2 instance type.",
   "Default": "m1.small",
   "Description": "WebServer EC2 instance type",
   "Type": "String"
  },
  "KeyName": {
   "ConstraintDescription": "must be the name of an existing EC2 KeyPair.",
   "Description": "Name of an existing EC2 KeyPair to enable SSH access to the instance",
   "Type": "AWS::EC2::KeyPair::KeyName"
  },
  "SSHLocation": {
   "AllowedPattern": "(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})/(\\d{1,2})",
   "ConstraintDescription": "must be a valid IP CIDR range of the form x.x.x.x/x.",
   "Default": "0.0.0.0/0",
   "Description": " The IP address range that can be used to SSH to the EC2 instances",
   "MaxLength": "18",
   "MinLength": "9",
   "Type": "String"
  }
 },
 "Resources": {
  "AttachGateway": {
   "Properties": {
    "InternetGatewayId": {
     "Ref": "InternetGateway"
    },
    "VpcId": {
     "Ref": "VPC"
    }
   },
   "Type": "AWS::EC2::VPCGatewayAttachment"
  },
  "IPAddress": {
   "DependsOn": "AttachGateway",
   "Properties": {
    "Domain": "vpc",
    "InstanceId": {
     "Ref": "WebServerInstance"
    }
   },
   "Type": "AWS::EC2::EIP"
  },
  "InboundHTTPNetworkAclEntry": {
   "Properties": {
    "CidrBlock": "0.0.0.0/0",
    "Egress": false,
    "NetworkAclId": {
     "Ref": "NetworkAcl"
    },
    "PortRange": {
     "From": "80",
     "To": "80"
    },
    "Protocol": "6",
    "RuleAction": "allow",
    "RuleNumber": "100"
   },
   "Type": "AWS::EC2::NetworkAclEntry"
  },
  "InboundResponsePortsNetworkAclEntry": {
   "Properties": {
    "CidrBlock": "0.0.0.0/0",
    "Egress": false,
    "NetworkAclId": {
     "Ref": "NetworkAcl"
    },
    "PortRange": {
     "From": "1024",
     "To": "65535"
    },
    "Protocol": "6",
    "RuleAction": "allow",
    "RuleNumber": "102"
   },
   "Type": "AWS::EC2::NetworkAclEntry"
  },
  "InboundSSHNetworkAclEntry": {
   "Properties": {
    "CidrBlock": "0.0.0.0/0",
    "Egress": false,
    "NetworkAclId": {
     "Ref": "NetworkAcl"
    },
    "PortRange": {
     "From": "22",
     "To": "22"
    },
    "Protocol": "6",
    "RuleAction": "allow",
    "RuleNumber": "101"
   },
   "Type": "AWS::EC2::NetworkAclEntry"
  },
  "InstanceSecurityGroup": {
   "Properties": {
    "GroupDescription": "Enable SSH access via port 22",
    "SecurityGroupIngress": [
     {
      "CidrIp": {
       "Ref": "SSHLocation"
      },
      "FromPort": "22",
      "IpProtocol": "tcp",
      "ToPort": "22"
     },
     {
      "CidrIp": "0.0.0.0/0",
      "FromPort": "80",
      "IpProtocol": "tcp",
      "ToPort": "80"
     }
    ],
    "VpcId": {
     "Ref": "VPC"
    }
   },
   "Type": "AWS::EC2::SecurityGroup"
  },
  "InternetGateway": {
   "Properties": {
    "Tags": [
     {
      "Key": "Application",
      "Value": {
       "Ref": "AWS::StackId"
      }
     }
    ]
   },
   "Type": "AWS::EC2::InternetGateway"
  },
  "NetworkAcl": {
   "Properties": {
    "Tags": [
     {
      "Key": "Application",
      "Value": {
       "Ref": "AWS::StackId"
      }
     }
    ],
    "VpcId": {
     "Ref": "VPC"
    }
   },
   "Type": "AWS::EC2::NetworkAcl"
  },
  "OutBoundHTTPNetworkAclEntry": {
   "Properties": {
    "CidrBlock": "0.0.0.0/0",
    "Egress": true,
    "NetworkAclId": {
     "Ref": "NetworkAcl"
    },
    "PortRange": {
     "From": "80",
     "To": "80"
    },
    "Protocol": "6",
    "RuleAction": "allow",
    "RuleNumber": "100"
   },
   "Type": "AWS::EC2::NetworkAclEntry"
  },
  "OutBoundHTTPSNetworkAclEntry": {
   "Properties": {
    "CidrBlock": "0.0.0.0/0",
    "Egress": true,
    "NetworkAclId": {
     "Ref": "NetworkAcl"
    },
    "PortRange": {
     "From": "443",
     "To": "443"
    },
    "Protocol": "6",
    "RuleAction": "allow",
    "RuleNumber": "101"
   },
   "Type": "AWS::EC2::NetworkAclEntry"
  },
  "OutBoundResponsePortsNetworkAclEntry": {
   "Properties": {
    "CidrBlock": "0.0.0.0/0",
    "Egress": true,
    "NetworkAclId": {
     "Ref": "NetworkAcl"
    },
    "PortRange": {
     "From": "1024",
     "To": "65535"
    },
    "Protocol": "6",
    "RuleAction": "allow",
    "RuleNumber": "102"
   },
   "Type": "AWS::EC2::NetworkAclEntry"
  },
  "Route": {
   "DependsOn": "AttachGateway",
   "Properties": {
    "DestinationCidrBlock": "0.0.0.0/0",
    "GatewayId": {
     "Ref": "InternetGateway"
    },
    "RouteTableId": {
     "Ref": "RouteTable"
    }
   },
   "Type": "AWS::EC2::Route"
  },
  "RouteTable": {
   "Properties": {
    "Tags": [
     {
      "Key": "Application",
      "Value": {
       "Ref": "AWS::StackId"
      }
     }
    ],
    "VpcId": {
     "Ref": "VPC"
    }
   },
   "Type": "AWS::EC2::RouteTable"
  },
  "Subnet": {
   "Properties": {
    "CidrBlock": "10.0.0.0/24",
    "Tags": [
     {
      "Key": "Application",
      "Value": {
       "Ref": "AWS::StackId"
      }
     }
    ],
    "VpcId": {
     "Ref": "VPC"
    }
   },
   "Type": "AWS::EC2::Subnet"
  },
  "SubnetNetworkAclAssociation": {
   "Properties": {
    "NetworkAclId": {
     "Ref": "NetworkAcl"
    },
    "SubnetId": {
     "Ref": "Subnet"
    }
   },
   "Type": "AWS::EC2::SubnetNetworkAclAssociation"
  },
  "SubnetRouteTableAssociation": {
   "Properties": {
    "RouteTableId": {
     "Ref": "RouteTable"
    },
    "SubnetId": {
     "Ref": "Subnet"
    }
   },
   "Type": "AWS::EC2::SubnetRouteTableAssociation"
  },
  "VPC": {
   "Properties": {
    "CidrBlock": "10.0.0.0/16",
    "Tags": [
     {
      "Key": "Application",
      "Value": {
       "Ref": "AWS::StackId"
      }
     }
    ]
   },
   "Type": "AWS::EC2::VPC"
  },
  "WebServerInstance": {
   "CreationPolicy": {
    "ResourceSignal": {
     "Timeout": "PT15M"
    }
   },
   "Metadata": {
    "AWS::CloudFormation::Init": {
     "config": {
      "files": {
       "/etc/cfn/cfn-hup.conf": {
        "content": {
         "Fn::Join": [
          "",
          [
           "[main]\n",
           "stack=",
           {
            "Ref": "AWS::StackId"
           },
           "\n",
           "region=",
           {
            "Ref": "AWS::Region"
           },
           "\n"
          ]
         ]
        },
        "group": "root",
        "mode": "000400",
        "owner": "root"
       },
       "/etc/cfn/hooks.d/cfn-auto-reloader.conf": {
        "content": {
         "Fn::Join": [
          "",
          [
           "[cfn-auto-reloader-hook]\n",
           "triggers=post.update\n",
           "path=Resources.WebServerInstance.Metadata.AWS::CloudFormation::Init\n",
           "action=/opt/aws/bin/cfn-init -v ",
           "         --stack ",
           {
            "Ref": "AWS::StackName"
           },
           "         --resource WebServerInstance ",
           "         --region ",
           {
            "Ref": "AWS::Region"
           },
           "\n",
           "runas=root\n"
          ]
         ]
        }
       },
       "/var/www/html/index.html": {
        "content": {
         "Fn::Join": [
          "\n",
          [
           "<img src=\"https://s3.amazonaws.com/cloudformation-examples/cloudformation_graphic.png\" alt=\"AWS CloudFormation Logo\"/>",
           "<h1>Congratulations, you have successfully launched the AWS CloudFormation sample.</h1>"
          ]
         ]
        },
        "group": "root",
        "mode": "000644",
        "owner": "root"
       }
      },
      "packages": {
       "yum": {
        "httpd": []
       }
      },
      "services": {
       "sysvinit": {
        "cfn-hup": {
         "enabled": true,
         "ensureRunning": true,
         "files": [
          "/etc/cfn/cfn-hup.conf",
          "/etc/cfn/hooks.d/cfn-auto-reloader.conf"
         ]
        },
        "httpd": {
         "enabled": true,
         "ensureRunning": true
        }
       }
      }
     }
    }
   },
   "Properties": {
    "ImageId": {
     "Fn::FindInMap": [
      "AWSRegionArch2AMI",
      {
       "Ref": "AWS::Region"
      },
      {
       "Fn::FindInMap": [
        "AWSInstanceType2Arch",
        {
         "Ref": "InstanceType"
        },
        "Arch"
       ]
      }
     ]
    },
    "InstanceType": {
     "Ref": "InstanceType"
    },
    "KeyName": {
     "Ref": "KeyName"
    },
    "NetworkInterfaces": [
     {
      "AssociatePublicIpAddress": true,
      "DeleteOnTermination": true,
      "DeviceIndex": "0",
      "GroupSet": [
       {
        "Ref": "InstanceSecurityGroup"
       }
      ],
      "SubnetId": {
       "Ref": "Subnet"
      }
     }
    ],
    "Tags": [
     {
      "Key": "Application",
      "Value": {
       "Ref": "AWS::StackId"
      }
     }
    ],
    "UserData": {
     "Fn::Base64": {
      "Fn::Join": [
       "",
       [
        "#!/bin/bash -xe\n",
        "yum update -y aws-cfn-bootstrap\n",
        "/opt/aws/bin/cfn-init -v ",
        "         --stack ",
        {
         "Ref": "AWS::StackName"
        },
        "         --resource WebServerInstance ",
        "         --region ",
        {
         "Ref": "AWS::Region"
        },
        "\n",
        "/opt/aws/bin/cfn-signal -e $? ",
        "         --stack ",
        {
         "Ref": "AWS::StackName"
        },
        "         --resource WebServerInstance ",
        "         --region ",
        {
         "Ref": "AWS::Region"
        },
        "\n"
       ]
      ]
     }
    }
   },
   "Type": "AWS::EC2::Instance"
  }
 }
}
